<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/simple.css}"
	href="../../static/css/simple.css" />
<title>Edit Department</title>
</head>
<body>
<header th:insert="fragments/layout.html :: header" ></header>
	<h3>Edit Department page</h3>

	<form action="#"
		th:action="@{/admin/department/edit/}+${department.departmentId}"
		th:object="${department}" method="post">
		<table>
			<tbody>
				<tr>
				   
					<td><span th:text="#{fieldLabel.departmentId}"></span></td>
					<td> <fieldset > <input type="text" th:field="*{departmentId}" readonly="readonly"/></fieldset> </td>
					<td th:if="${#fields.hasErrors('departmentId')}"
						th:errors="*{departmentId}"></td>
					
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.managerInCharge}"></span></td>
					<td> <fieldset> <select th:field="*{managerInCharge}">
							<option th:each="manager : ${eidlist}" th:value="${manager}"
								th:text="${manager}">List</option>
					</select> </fieldset></td>
					<td th:if="${#fields.hasErrors('managerInCharge')}"
						th:errors="*{managerInCharge}"></td>
				</tr>
				<tr>
					<td><input type="submit" value="Update" class="blcass" /></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</form>

</body>
</html>